# Port to listen on
PORT=9092

# Postgres DB credentials
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=didchat
DATABASE_PASS=didchat
DATABASE_NAME_TYPEORM=veramo

# Prisma DB URL
PRISMA_DATABASE_URL="postgresql://didchat:didchat@localhost:5432/prisma?schema=public"

# Minio
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=true
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Secret for key management system, use `npx @veramo/cli config create-secret-key`
# to generate one
KMS_SECRET=

# Agent alias (and Web DID method specific identifier)
DID_ALIAS=subdomain.ngrok-free.app
